<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello, user!</div>
<div>This is Learning project for MIPT 1c-course.</div>
<a href="/main">Main Page</a>
</body>
</html>